.details-section {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1em;
    font-size: 2em;
    line-height: 1.5em;
    color: var(--main-black);
    font-family: 'Ibarra Real Nova';
}
#details-title {
    grid-area: title;
    align-self: center;
    font-size: 1.5em;
    width: fit-content;
    margin: 0 auto;
}
#when {
    grid-area: when;
    margin-top: 20px;
}
#where {
    grid-area: where;
}
#reception {
    grid-area: reception;
}
.det-flower {
    grid-area: flower;
    align-self: center;
    width: 20em;
}
#details-title, .details-section h3, .reception-to-follow {
    border-bottom: 1px solid var(--main-rust);
}

.details-section-subtext {
    font-family: Raleway;
    font-size: 0.7em;
}

@media only screen and (min-width: 700px) {
    .det-flower {
        display: block;
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .details-section {
        font-size: 1.2em;
    }
    .det-flower {
        width: 10em;
    }
}
@media only screen and (max-width: 400px) {
    .details-section {
        font-size: 1em;
        gap: 1em;
        width: 90%;
    }
  }