.rsvp-section {
    height: 100%;
    width: 50%;
    font-size: 1.5em;
    line-height: 1.5em;
    color: var(--main-black);
    font-family: 'Ibarra Real Nova';
}
.rsvp-section h2, .rsvp-section h3, .reception-to-follow {
    border-bottom: 1px solid var(--main-rust);
}
.rsvp-section-subtext {
    font-family: Raleway;
    font-size: 0.7em;
}