.faq-section {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    color: var(--main-black);
    font-family: 'Ibarra Real Nova';
}
#faq-title {
    grid-area: title;
    align-self: center;
    font-size: 1.5em;
    width: fit-content;
    margin: 0 auto;
}
#faq-title, .faq-section h3 {
    border-bottom: 1px solid var(--main-rust);
}

.question {
    width: fit-content;
}

.question, .answer {
    font-size: 1em;
}

@media only screen and (min-width: 700px) {
    .faq-section {
        font-size: 2em;
    }
}